/* OFFER */
.picture {
  width: 100%;
  height: 450px;
  object-fit: contain;
}

aside {
  width: 300px;
  height: 200px;
  margin-left: 15px;
  flex-direction: column;
}

.offer > div {
  display: flex;
}

.offer article {
  flex: 1;
}

.offer-card {
  height: 607px;
  width: 700px;
}

.offer article img {
  height: 400px;
  object-fit: contain;
}

.offer aside .buttons {
  display: flex;
  flex-direction: column;
}

.infos {
  margin-left: 20px;
}

.title-description {
  font-weight: bold;
  font-size: 19px;
}

.offer-description {
  font-size: 19px;
  margin-bottom: 40px;
}

.username {
  font-weight: bold;
  font-size: 23px;
}

.number-offer {
  color: #4183d7;
  font-weight: bold;
  font-size: 19px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
}

.shop {
  width: 230px;
  height: 44px;
  background: #f56b2a;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
}

.button-item {
  margin-top: 2px;
  margin-left: 8px;
}

.wrap-offer {
  margin: auto;
}
