/* HEADER */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
}
.menu ul {
  display: flex;
  align-items: center;
}

.logo {
  object-fit: contain;
  width: 167px;
  height: 70px;
  margin-right: 20px;
}

.push-item {
  background-color: #f56b2a;
  border-radius: 5px;
  width: 204px;
  height: 39px;
  display: flex;
  color: white;
  font-size: 1em;
  margin-right: 10px;
  align-items: center;
  justify-content: space-around;
}

.push-item:hover {
  background-color: #d96629;
}

.research {
  background: none;
  border: none;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.bottom-bar {
  border-bottom: 4px solid #f56b2a;
  padding-bottom: -40px;
}

.login {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
