/* SEARCH */

.search-box {
  width: 768px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  margin-top: -100px;
}

.items {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}

.background {
  height: 100px;
  width: 100%;

  background-color: #f56b2a;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.search-input {
  padding-left: 20px;
  flex: 1;
}

.search-button {
  margin-left: 20px;
}
