/* SEARCH */

.search-box {
  width: 768px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  margin-top: -100px;
}

.items {
  display: flex;
  justify-content: space-evenly;
}

.background {
  height: 100px;
  width: 110%;

  background-color: #f56b2a;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
