/* SIGNUP */

.signup-page {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: 576px;
  background: white;
  margin: 44px auto;
}

.left {
  margin-left: 50px;

  margin-right: 100px;
}

.paragraph {
  align-items: center;
}

.logo-color {
  color: #4183d7;
  flex: 1;
}

.words {
  flex: 4;
}

.right {
  margin-right: 50px;
}

.left-password {
  margin-right: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.box {
  width: auto;
}

.account {
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #f56b2a;
}
