/* LOGIN */

.page {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  width: 550px;
  height: 450px;
}

.wrap {
  margin-left: 50px;
  margin-right: 50px;
}

.connexion {
  font-weight: bold;
  font-size: 24px;
  justify-content: center;
  padding: 10px;
  border-bottom: 2px solid #f56b2a;
}

.title-input {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.modal-close {
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
}

.input {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

.mt-5 {
  margin-top: 20px;
}

.button {
  width: 100%;
}

.new-account {
  border-top: 1px solid lightgrey;
  justify-content: center;
  padding-top: 10px;
}
