/* REPERES */

.blue {
  background-color: lightblue;
}

.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

/* RESET */
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

/* GLOBAL */

.container {
  width: 1024px;
  margin: 0 auto;
}

.d-f {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pv-50 {
  padding: 50px 0;
}

.br-5 {
  border-radius: 5px;
}

.mt-30 {
  margin-top: 30px;
}

form input {
  border: none;
  width: 320px;
  height: 44px;
  background-color: #f4f6f7;
  font-size: 1em;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.blue-button {
  background-color: #4183d7;
  width: 220px;
  height: 44px;
  border-radius: 5px;
  color: white;
  font-size: 1em;
}

.overflow-hidden {
  overflow: hidden;
}

.mb-20 {
  margin-bottom: 20px;
}

.no-decoration {
  text-decoration: none;
}

.pl-15 {
  padding-left: 15px;
}

.bg-silver {
  background-color: silver;
}

.title {
  font-size: 22px;
  color: black;
}

.price {
  color: #f56b2a;
  font-size: 20px;
}

.date {
  color: black;
  font-size: 16px;
}
